<h2>Second Component</h2>

<!-- <button (click)="getUsers()">Get Users</button> <br/><br/> -->
<a routerLink="/user-add">Add New User</a><br/><br/>

<table border="1" cellspacing="0" cellpadding="5">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users$ | async">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>
                <a [routerLink]='["/user-detail", user.id]'>View Details</a> |
                <button (click)="onDeleteUser(user.id)">Delete</button> |
                <a [routerLink]='["/user-update", user.id]'>Update</a>
            </td>
        </tr>
    </tbody>
</table>